@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-dmSans: "DM Sans", sans-serif;

  /* colors */
  --color-primary: #5c62ec;
  --color-primary-hover: #3c40ae;
  --color-accent: #85bfd1;
  --color-bordes-dark: #26292d;
  --color-bordes: #d1d5db;
  --color-rellenos: #eeeeee;
  --color-gris: #71717a;
  --color-blanco: #171718;
  --color-fondo: #faf9f6;
  --color-rellenos-dark: #1c1e22;
  --color-gris-dark: #a0a0a1;
  --color-blanco-dark: #ffffff;
  --color-fondo-dark: #171718;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  &.dark {
    background-color: var(--color-fondo-dark);
    color: var(--color-blanco-dark);
  }
  background-color: var(--color-fondo);
  color: var(--color-blanco);
  font-family: var(--font-dmSans);
  position: relative;
}

::-webkit-scrollbar {
  height: auto;
  border-radius: 24px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 24px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-hover);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 24px;
}

/* navbar */

a.active::after {
  content: "";
  display: block;
  width: auto;
  height: 3px;
  background: var(--color-primary);
  transition: width 0.25s ease-in-out;
  border-radius: 10px;
}

.nav-desktop {
  @apply items-center gap-8 text-sm;
}

.nav-mobile {
  @apply flex-col gap-5 px-4 absolute left-0 top-[64px] fondo-theme min-w-screen justify-between py-5 text-base shadow-xl;
}

/* responsive-design */
@media screen and (max-width: 768px) {
  a.active {
    background-color: var(--color-primary);
    width: 95%;
    border-radius: 5px;
    color: var(--color-blanco-dark);
  }
  a.active::after {
    content: "";
    display: none;
  }
}

/* utility */

@utility smooth {
  @apply duration-150 ease-in;
}

@utility fondo-theme {
  @apply bg-fondo dark:bg-fondo-dark;
}

@utility blanco-theme {
  @apply text-blanco dark:text-blanco-dark;
}

@utility gris-theme {
  @apply text-gris dark:text-gris-dark;
}

@utility rellenos-theme {
  @apply bg-rellenos dark:bg-rellenos-dark;
}

@utility bordes-theme {
  @apply border-bordes dark:border-bordes-dark;
}

/* component */

@layer components {
  .btn-primary {
    @apply px-5 py-4 bg-primary text-blanco-dark rounded-lg hover:bg-primary-hover smooth font-dmSans font-medium text-center disabled:opacity-70 disabled:hover:bg-primary disabled:cursor-not-allowed;
  }

  .btn-line {
    @apply px-5 py-4 fondo-theme rounded-lg border-2 border-blanco dark:border-blanco-dark hover:border-primary smooth hover:text-primary font-dmSans font-medium disabled:opacity-70 disabled:cursor-not-allowed;
  }
}

.smooth-hover {
  @apply hover:text-primary smooth;
}
